#toc {
        position: relative;
    }

    #table-of-contents {
        background: #fff;
        position: fixed;
        z-index: 99999;
        max-height: 80vh;
        overflow-y: auto;
        padding: 0 16px 24px 16px;
        transition: transform 0.3s ease, opacity 0.3s ease;

        bottom: 0;
        left: 0;
        right: 0;
        width: calc(100% - 40px);
        margin: 0 auto;
        border-radius: 24px 24px 0 0;
        transform: translateY(100%); 
    }

    #table-of-contents.open {
        transform: translateY(0); 
    }

    @media screen and (min-width: 768px) {
        #table-of-contents {
            top: 50%;
            left: 50%;
            bottom: auto; 
            right: auto;  
            width: 90%;
            max-width: 520px;
            padding: 0 24px 24px 24px !important;
            border-radius: 24px;
            opacity: 0;
            pointer-events: none;
            transform: translate(-50%, -50%) scale(0.95);
        }
        
        #table-of-contents li {
            padding: 8px 12px !important;
        }
        
        #table-of-contents .header {
            padding: 24px 0 16px 0px !important;
        }
        
        #toc-toggle {
        padding: 0 24px !important; 
        height: 50px !important; 
        bottom: 20px !important;
        }

        #table-of-contents.open {
            opacity: 1;
            pointer-events: auto; 
            transform: translate(-50%, -50%) scale(1); 
        }
    }

    #table-of-contents .header {
        font-family: 'Manrope', sans-serif; display: block; padding: 24px 0; font-size: 18px; line-height: 24px; font-weight: 600; color: #262626;
    }
    #table-of-contents ul { list-style: none; padding: 0; margin: 0; }
    #table-of-contents li { padding: 4px 8px; border-radius: 0 8px 8px 0; margin-bottom: 4px; border-left: 2px solid transparent; transition: background-color 0.3s ease, border-color 0.3s ease; }
    #table-of-contents a { text-decoration: none; color: #262626; transition: color 0.3s ease, opacity 0.3s ease; font-family: 'Manrope', sans-serif; font-weight: 400; display: block; font-size: 15px; line-height: 20px; opacity: 0.75; }
    #table-of-contents a:hover { opacity: 1; }
    .toc-level-2 { margin-left: 0; }
    .toc-level-3 { margin-left: 12px; }
    #table-of-contents li.active { background-color: #f7f7f7; border-color: rgb(38 38 38 / 100%); }
    #table-of-contents li.active > a { opacity: 1; }

    #toc-toggle {
        display: flex;
        position: fixed;
        bottom: 20px;
        left: 50%; 
        transform: translateX(-50%); 
        background: rgb(255 255 255 / 50%);
        color: #262626; 
        border: 1px solid #fff; 
        padding: 0 16px; 
/*         height: 40px; */
        border-radius: 99px; 
        cursor: pointer; 
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter:blur(4px);    
        font-family: 'Manrope', sans-serif; 
        font-size: 14px; 
        z-index: 1001; 
        transition: background 0.3s ease;
        box-shadow: 0px 15px 30px -10px rgba(0,11,48,0.2);
        align-items: center;
    }
    #toc-close {
        display: block; position: absolute; top: 24px; right: 24px; background: transparent; border: none; padding:0px; width:24px; font-size: 20px; line-height: 24px;  color: #262626; cursor: pointer; z-index: 1002;
    }
    #toc-overlay {
        display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); z-index: 99995; opacity: 0; transition: opacity 0.3s ease;
    }
    #toc-overlay.visible { display: block; opacity: 1; }
